# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py
config/*.json

# dbt
target/
dbt_packages/
logs/
profiles.yml

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Coverage
.coverage
htmlcov/

# Docker
*.log

# Secrets
secrets/
credentials/
service_account.json

# Temporary files
*.tmp
*.bak

# Others
draft.md